body{
    background-color:  rgb(13, 76, 135);
    text-align: center;
}

.container{
   height : 70vh;
   display: flex;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;

}

.game{
    height : 60vmin;
    width : 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1.5vmin;
    }

.box{
    height : 19vmin;
    width : 19vmin;
    border-radius: 1rem;
    border-radius: none;
    color : gray;
    font-size: 80px;
    background-color: bisque;
}

#Reset{
    padding: 8px;
    font-size: 1.25rem;
    background-color: black;
    color:antiquewhite;
    border-radius: 0.5rem;
    border:none;
}

#start{
    padding: 8px;
    font-size: 1.25rem;
    background-color: black;
    color:antiquewhite;
    border-radius: 0.5rem;
    border:none;
}

#msg{
    height : 5vmin;
    color : white;
    font-size: 5vmin;;
}

.hide{
    display :none;
}